<div class="col">
    <div class="card h-100">
      <img src="{{this.image}}" class="card-img-top">
      <div class="card-body h-100">
        <div>
<a class="btn btn-link" href="/offers/{{this._id}}">
  {{this.title}}
</a>        
</div>
      </div>
    </div>
  </a>
</div>