

<div class="web-cover">
    <h1>Find the perfect freelance services for your business</h1>
    <p>Anytime, anyw</p>
</div>

<div class="home-about">
    <h2>What's Visual Heaven?</h2>
    <p>It's an online platform where you can find your own spot in the audiovisual world with a simple click! There's a whole variety of sections:</p>

    <div class="section-examples">
        <div>
            <h4>Video</h4>
            <img src="../images/icons/video-icon.png" alt="video">
        </div>

        <div>
            <h4>Photography</h4>
            <img src="../images/icons/camera-icon.png" alt="photography">
        </div>

        <div>
            <h4>3D</h4>
            <img src="../images/icons/3d-icon.png" alt="3d">
        </div>
        
    </div>

    <p>... and more!</p>

</div>