
{{> navbarHome}}

<div class="container-fluid bg-container"></div>
    <div class="web-cover">
        <h1>Find the perfect freelance services for your business</h1>
        <h4>Anytime, anywhere. You choose.</h4>
        <p>SCROLL DOWN<br>&#709;</p>
    </div>
</div>


    <div class="home-about">
        <h2>What's <i>Visual Heaven</i>?</h2>

        <hr>
        
        <p>It's an online platform where you can find your own spot in the audiovisual world with a simple click!<br>There's a whole variety of sections</p>

        <div class="section-examples">
            <div class="icons">
                <img src="../images/icons/video-icon.png" alt="video">
                <h4>Video</h4>
            </div>

            <div class="icons">
                <img src="../images/icons/camera-icon.png" alt="photography">
                <h4>Photography</h4>
            </div>

            <div class="icons">
                <img src="../images/icons/sound-icon.png" alt="3d">
                <h4>Sound</h4>
            </div>
            <div class="icons">
                <img src="../images/icons/light-icon.png" alt="3d">
                <h4>Lighting</h4>
            </div>
        </div>

        <h2>and <u>more!</u></h2>
        <br>

    </div>
