{{> navbar}}

    <div class="container-fluid bg-container"></div>

      <div class="professionals-cover">
          
          <h1>Professionals</h1>

      </div>
  </div>

<div class="layout-margin">
  <div class="professionals-search">
    <form action="/professionals" method="GET" class="style-search">
      <input type="text" name="professionalsSearch" placeholder='Who are you looking for?' />
      <button type="submit">Find</button>
    </form>
  </div>
    <ul class="professionals">
      {{#each professionals as |professional|}}  
        <img src="{{professional.image}}" class="card-img-top" /> 
        <a class="btn btn-link" href="/professionals/{{professional._id}}">
          {{professional.fullName}}
        </a>
      {{/each}}
    </ul>

</div>