{{> navbar}}

 

      <div class="professionals-cover">
          
          <h1>Professionals</h1>
          <p>Is there somebody on your mind? You can find them here!</p>

      </div>


  <div class="layout-margin">
    <div class="professionals-search">
      <form action="/professionals" method="GET" class="style-search">
        <input type="text" name="professionalsSearch" placeholder='Who are you looking for?' />
        <button type="submit">Find</button>
      </form>
    </div>

  <div class="card-group">
    <div class="row justify-content-between">

        {{#each professionals as |professional|}}  
        <div class="card col-3 m-1" style="
    width: 215px;border: none!important;">
          <img class="" src="{{professional.image}}" class="card-img-top" style="213px;border-radius: 100%;"/> 
          <div class="card-body h-100" style="
    text-align: center!important;">
            <a class="btn btn-link" href="/professionals/{{professional._id}}">
              {{professional.fullName}}
            </a>
          </div>
        </div>
        {{/each}}
    </div>
  </div>



  </div>

