h1,
h2,
h3,
h4,
p,
a {
    font-size: 18px;
    font-family: Futura,FunctionPro,Trebuchet MS,Arial,sans-serif; 
}



body {
    background-color: white;
}

html {
    background-color: black;
}


p {
    font-family: FunctionPro,Helvetica,Arial,TazuganeGothic,sans-serif;
    font-weight: 300;
}


hr {
    border: 2px solid rgb(173, 124, 59);
    width: 372px;
    margin: auto;
}



.navbar .navbar-expand-lg .navbar-dark .bg-dark {
    padding-left: 30px!important;
    background-color: black!important;
}





navHome {
    padding-left: 58px!important;
    padding-top: 10px;
    position: absolute!important;
}




.collapse .navbar-collapse .justify-content-end {
    display: flex;
    justify-content: flex-end;
}




.bg-container {
    padding: 0;

}


.bg-dark {
    background-color: transparent!important;
}



.web-cover {
    background: url("../images/vistas/foto-portada.png") no-repeat center fixed;
    background-size: cover;
    background-color: rgb(214, 142, 49);
    background-blend-mode: multiply;
    padding: 17% 0;
    margin: 0;
}


.web-cover > img {
    display: flex;
    margin: auto;
    padding-bottom: 30px;

}

.container .web-cover {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.web-cover > h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0 100px;
}


.web-cover > h4 {
    color: white;
    text-align: center;
    padding-top: 20px;
}


.web-cover > p {
    text-align: center;
    color: white;
    font-size: 10px;
    padding-top: 13.5%;
    position: absolute;
    left: 0;
    right: 0;
}


.home-about > h2 {
    text-align: center;
    font-size: 37px;
    margin-top: 70px;
}


.home-about > p {
    text-align: center;
    margin-top: 20px;
}



.section-examples {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 60px 0;
}


.icons > img {
    width: 120px;
}


.icons > h4 {
    margin-top: 20px;
}


footer {
    background-color: black;
    padding: 80px 80px 0 80px;
    margin-bottom: 0!important;
}


.footer-rows {
    display: flex;
    justify-content: space-evenly;
    color: rgb(151, 151, 151);
}

.row > p {
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.join-us {
    font-size: 35px;
    color: rgb(214, 142, 49);
    padding-bottom: 20px;
    text-decoration: none;
}

.title {
    color: white;
    font-weight: 500;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;

}


.credits {
    display: flex;
    justify-content: center;
}

.credits > p {
    color:rgb(151, 151, 151);
    font-size: 10px;
    padding-top: 50px;
    padding-bottom: 30px;

}


.log-cover {
    background: url("../images/vistas/fondo-login.jpeg") no-repeat center fixed;
    background-size: cover;
    padding: 14.5% 0;
    margin: 0;
}


.log-square {
    background-color: rgb(255, 255, 255);
    background-blend-mode:multiply;
    padding: 30px;
    width: 600px;
    margin: 0 auto;
    border-radius: 13px;
}


.log-square > h1 {
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}


.reg-cover {
    background: url("../images/vistas/fondo-login.jpeg") no-repeat center fixed;
    background-size: cover;
    padding: 8.5% 0;
    margin: 0;
}


form {
    padding:30px;
}

.navbar-brand-home {
    opacity: 0;
    pointer-events: none;
    padding-top: 10px;
    padding-left: 16.2px;
}


.professionals {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
}

.professionals > img {
    width: 300px;
}


.professionals-cover {
    background: url("../images/vistas/foto-portada.png") no-repeat center fixed;
    background-size: cover;
    background-color: rgb(214, 49, 49);
    background-blend-mode: multiply;
    padding: 13% 0;
    margin: 0;


}

.container .professionals-cover {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.professionals-cover > h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0 100px;
}


.offers-cover {
    background: url("../images/vistas/foto-portada.png") no-repeat center fixed;
    background-size: cover;
    background-color: rgb(181, 49, 214);
    background-blend-mode: multiply;
    padding: 13% 0;
    margin: 0;


}

.container .offers-cover {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.offers-cover > h1 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin: 0 100px;
}

.col {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    width: 600px;
}

